@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

h1{
	font-size: 40px;
	font-family: 'Caveat Brush', cursive;
}
span{
	font-size: 30px;
	font-family: 'Caveat Brush', cursive;
}
.action{
	font-size: 30px;
	font-color: black;
	font-family: 'Caveat Brush', cursive;
}
.navbar{
	font-size: 20px
}
.jumbotron{
	background-color: #FFFDFE;
	padding: 5px;
	opacity: .2px
	
}
.container{
	padding: 2px;
	width: 1250px;
}