@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

h1{
	font-size: 70px;
	font-family: 'Caveat Brush', cursive;
}
span{
	font-size: 30px;
	font-family: 'Caveat Brush', cursive;
}
.action{
	font-size: 30px;
	font-color: black;
	font-family: 'Caveat Brush', cursive;
}